table,tr
{
    border-collapse: collapse;
    border: 1px solid;
    border-color:  #c4dcf3;
}
th
{
    background-color: #427fef;
    color: white;
}

tr:nth-child(odd)
{
    background-color: #eef7ff;
}
tr:nth-child(6)
{
    background-color:  #427fef;
    color: white;
}